@import "css-settings/mixins";
@import "css-settings/media-querys";
// @import "css-settings/variables";
//
@import "css-settings/base";
// @import "css-settings/typography";
// @import "css-settings/colors";
//
// @import "layout/flexbox";
// @import "layout/grid";
// @import "layout/basic-layouts";
//
// @import "singleStyles/shadows";
// @import "singleStyles/scrollable";
// @import "singleStyles/border";
//
// @import "components/list";
// @import "components/btn";
// @import "components/card";
// @import "components/form";
// @import "components/nav";
//
// @import "navbar/nav1";
//
// @import "animations/index";
// @import "animations/keyframes";

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.singlePostStyle {
  img {
    width: 100%;
  }
  p {
    margin: 5px 0px;
    font-size: calc(9pt + 0.25rem);
    font-family: 'Roboto';
  }
  h1 {
    margin: 15px 0px;
    font-size: calc(13pt + 1rem);
    font-family: 'Raleway';
    font-weight: 500;
  }
  h2 {
    margin: 15px 0px;
    font-size: calc(12pt + 1rem);
    font-family: 'Raleway';
    font-weight: 500;
  }
  h3 {
    margin: 15px 0px;
    font-size: calc(11pt + 1rem);
    font-family: 'Raleway';
    font-weight: 500;
  }
  h4 {
    margin: 15px 0px;
    font-size: calc(10pt + 1rem);
    font-family: 'Raleway';
    font-weight: 500;
  }
  h5 {
    margin: 15px 0px;
    font-size: calc(9pt + 1rem);
    font-family: 'Raleway';
    font-weight: 500;
  }
  h6 {
    margin: 15px 0px;
    font-size: calc(8pt + 1rem);
    font-family: 'Raleway';
    font-weight: 500;
  }
}
